[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jproperties = "*"
pyyaml = "*"
requests = "*"
selenium = "*"
selenium-wire = "*"
build = "*"
twine = "*"
blinker = "==1.7.0"
setuptools = "*"
mw-pyhelper = {file = ".", editable = true}
cffi = "*"

[dev-packages]

[requires]
python_version = "3"
